<!DOCTYPE html>
<html>
	<head>
		<title>Aksh Chordia, IIT Jodhpur</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Aksh Chordia!</h1>
				<p>I'm best known for </em> Read more in my <a href="/about"> section </a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:chordia.2@iitj.ac.in">Work e-mail</a></li>
			<li><a href="mailto:aakshjn@gmail.com">Personal e-mail</a></li>
        		<li><a href="https://github.com/aakshjn">github.com/aakshjn</a></li>
			</ul>
		</footer>
	</body>
</html>
